<!--<p>-->
  <!--login works!-->
<!--</p>-->

<div class="container">

  <form novalidate (ngSubmit)="OnSubmit(f)" #f="ngForm" class="form-signin" role="form">
    <h2 class="form-signin-heading" data-replace-tmp-key="37b3dca3312939d1728ac08ec3f4a935">Пожалуйста, войдите</h2>
    <input type="text" name="username" class="form-control" placeholder="Username" required="" autofocus=""
           [(ngModel)]="login.username" aria-required="true">
    <input type="password" name="password" class="form-control" placeholder="Пароль" required=""
           data-translatable-string="Password" [(ngModel)]="login.password" aria-required="true">
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="btnSubmit">Войти</button>
  </form>

</div> <!-- /container -->

<!--{{f.value | json}}-->
