<div class="container">
    <div class=" col-lg-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <div>
            <img class="center img-circle img-responsive" width="250px" height="250px" src="{{profile?.photo}}">
          </div>
          <div>
            <div class="text-center">
              <h2>{{profile?.name}}</h2>
            </div>
            <div>
              <button class="btn btn-lg btn-primary btn-block" (click)="OnClick(profile?.id)" *ngIf="profile?.friend_status === true">Убрать из друзей</button>
              <button class="btn btn-lg btn-primary btn-block" (click)="OnClick(profile?.id)" *ngIf="profile?.friend_status ===  false">Добавить в друзья</button>
            </div>
          </div>
          <div class="col-lg-12 centered-text">
            <h3>Предпочтения</h3>
            <hr>
            <div class="flex-container">
              <div class="flex-item" *ngFor="let item of profile?.favourite_goods">
                <h4>{{item}} &nbsp; </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
