button {
  max-width: 700px;
  margin: auto;

  height: 50px;
  font-size: 30px;
}

.list-group-item {
  width: 700px;
  text-align: center;
  margin: auto;
}
.list-group {
  margin: auto;
  text-align: center;
}

/*body {*/
  /*background-color: #edeef0;*/
/*}*/

a{
  text-decoration: none;
  color: white; /* Цвет ссылок */
  font-size: 25px;
}
a:visited {
  color: white; /* Цвет посещенных ссылок */
}
a:active {
  color: white; /* Цвет активных ссылок */
}
