/*@import "compass/css3";*/

.list-group-iem {
  text-align: center;
  margin: auto;
  width: 100%;
  /*border: 2px solid #edeef0;*/
  background-color: #F4EDF6;
  padding: 20px;
}
  /*border-radius: 50px 50px;*/
  /*border: 10px;*/


a{
  text-decoration: none;
  color: black; /* Цвет ссылок */
}
a:visited {
  color: black; /* Цвет посещенных ссылок */
}
a:active {
  color: black; /* Цвет активных ссылок */
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
