<form novalidate (ngSubmit)="OnSubmit(f.value)" #f="ngForm" class="form-addpayment" role="form" autocomplete="off">
  <div class="form-group">
    <label>Название тусовки</label>
    <select (change)="OnChange($event.target?.value)" required class="form-control" name="id"  [(ngModel)]="post_payment.id">
      <option *ngFor="let party of choose_party_list" value={{party.id}}>
        {{ party.name }} </option>
    </select>
    <div class="error" *ngIf="f.controls.id?.touched && f.controls.id?.errors?.required">
      Это обязательное поле
    </div>
  </div>
  <div>
    <label>Выберите плательщиков</label>
    <select multiple class="form-control" name="payers" [(ngModel)]="post_payment.payers">
      <option *ngFor="let payer of payers_list" value={{payer.id}}>
    {{ payer.name }} </option>
    </select>
  </div>
  <div class="form-group">
    <label>Описание</label>
    <input type="text" name="description" class="form-control" required placeholder="Введите описание" [(ngModel)]="post_payment.description">
    <div class="error" *ngIf="f.controls.description?.touched && f.controls.description?.errors?.required">
      Это обязательное поле
    </div>
  </div>
  <div class="form-group">
    <label>Стоимость</label>
    <input type="number" name="cost" class="form-control" required placeholder="Введите сумму" (ngModel)="post_payment.cost">
    <div class="error" *ngIf="f.controls.cost?.touched && f.controls.cost?.errors?.required">
      Это обязательное поле
    </div>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="f.invalid" name="btnSubmit">Создать</button>
</form>
